.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .current-path {
    display: inline-block;
    padding: 0 10px;
    border-radius: 7px;
    background-color: #d4dde6;

    .item {
      font-weight: 500;
    }
  }

  .filter-songs-input {
    width: 30%;
  }

    .volume-controller {
      padding-left:15px;
      display: flex;
      width:10%;
      .volume-slider{
        width:80%;
      }
      .icon {
        width: 25px;
        padding-right:10px;
        padding-top:3px;
      }
    }
}
