<nz-sider class="wrapper" nzCollapsible [nzTrigger]="null">
    <div class="logo">
        AviMusic
    </div>
    <ul class="list" nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="Genres" nzIcon="user">
            <ul>
                <li nz-menu-item>Rap</li>
                <li nz-menu-item>Pop</li>
                <li nz-menu-item>Classic</li>
            </ul>
        </li>
        <li nz-submenu nzTitle="Playlists" nzIcon="team">
            <ul>
                <li nz-menu-item>Team 1</li>
                <li nz-menu-item>Team 2</li>
            </ul>
        </li>
        <li nz-menu-item>
            <i nz-icon nzType="file"></i>
            <span>File</span>
        </li>
    </ul>
</nz-sider>